@font-face {
    font-family: 'Lato';
    font-style: normal;
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, label, button {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}